@using WebApiClient.DTOs
@model dynamic

@{
    ViewData["Title"] = Model.BlogPost.PostTitle;
}

<div class="text-center">
    <h1>@Model.BlogPost.PostTitle</h1>
    <h4>From the blog
        <a href="/Authors/@Model.Author.Id/BlogPosts">@Model.Author.BlogTitle</a>
    </h4>
    </div>
    <hr />  
    <div class="text-right" style="padding-bottom:10px;font-style:italic;font-weight:bold;">@Model.BlogPost.PostCreationDate.ToString("dd. MMMM, yyyy") </div>
    <div>
    @Html.Raw(@Model.BlogPost.PostContent.Replace("\n", "<br />").Replace(". ", ".<br /> "))
    <hr />
</div>