@*declare the model we will be using as a dynamic*@
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if (Context.Request.Query.ContainsKey("searchstring"))
    {
        <h3>Search results for '@Context.Request.Query["searchstring"]' (@Model.BlogPosts.Count results)</h3>
    }
    else
    {
        <div class="py-5 text-center" style="background-color:#f0f4ff;">
            <h1>Welcome to Blog#</h1>
            Where people go to create and absorb GREAT content!
        </div>
        <br />
        <h3>10 latest blog posts</h3>
    }
    @*iterate over all the BlogPostDtos in the model*@
    @foreach (dynamic post in @Model.BlogPosts)
    {
        @*create a link (<A href...>) for each blog post
    which points to the BlogPost controller's details view
    and sends the ID of the blog post *@
        @* <br /> *@
        <div style="font-weight:bold;margin:0px;padding-top:10px;">
            @Html.ActionLink(
                     (string)@post.PostTitle,
                     "Details",
                     "BlogPosts",
                     new { id = @post.Id },
                     new { @class = "link-hover-effect" } // Add the CSS class here
                     )
        </div>

    }
    <br /><br />
    <p>
        @*    @if (!Context.User.Identity.IsAuthenticated)
        {
        <a  asp-area="" asp-controller="Authors" asp-action="Create" class="btn btn-success">Become a Blog Author TODAY!</a>
        } *@
    </p>
</div>